extends layout

block content
  h1(class='page-header')= title
  p #{description}
  table(class='table')
    tr
      th Name
      each type in typesReadable
        th #{type}
    each data, name in stats
      tr
        td #{name}
        each type in types
          -if (typeof(data[type]) !== 'undefined'){
            td #{data[type]}
          -}else{
            td 0
          -}
