extends layout

block content
  h1(class='page-header')= title
  p #{description}
  table(class='table')
    tr
      th Name
      each type in typesReadable
        th #{type}
    each name in getKeys(stats).sort()
      tr
        td #{name}
        each type in types
          -if (typeof(stats[name][type]) !== 'undefined'){
            td #{stats[name][type]}
          -}else{
            td 0
          -}
